<?xml version="1.0"?>

<model>
  <name>Track 1</name>
  <version>1.0</version>
  <sdf version='1.5'>track_1.sdf</sdf>

  <author>
    <name>Michael Equi</name>
    <email>equim20@student.jhs.net</email>
  </author>

  <description>
    The largest of the track/stadium models for the racecar to train in.
  </description>
</model>
